<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi sitio de Alumno</title>
</head>
<body>
    
    <h1>Bienvenido al sitio de alumnos</h1>

    <hr>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, odio aliquam soluta pariatur debitis eius impedit nam! Nesciunt, voluptas ea provident officia accusantium odio quibusdam commodi maiores consectetur? Animi, reiciendis.</p>


</body>
</html>